<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Blog</title>
    <style>
      nav {
        background-color: black;
      }
      .nav-item {
          color: white;
          padding: 10px;
      }
      .flex {
          display: flex;
      }
    </style>
  </head>
  <body>
    <nav>
      {%NAV_ITEMS%}
    </nav>
    {%MAIN_CONTENT%}
  </body>
</html>
